<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <style>
        #app{
            height: 1200px;
        }
        .mask{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(55, 55, 55, .6);
            z-index: 1000;
        }
    </style>
</head>
<body style="overflow: hidden">
<div id="app">
    <input type="checkbox" v-model="model" value="1" @change="changeHandler">
    <input type="checkbox" v-model="model" value="2">
    <input type="checkbox" v-model="model" value="3">
    {{model}}
<!--    <input type="checkbox">-->
<!--    <input type="checkbox">-->
<!--<div class="mask"></div>-->
</div>

<script>
    // box.onchange=function (e) {
    //   console.log(e)
    //   console.log(e.target.value)
    // }
    // 实例化vue对象
    const componentA = {
      template: '<div class="test">hahahha</div>',
      data(){
        return { }
      }
      //...
    }

    const componentB = {
      template: '#b',
      data(){
        return { }
      }
      //...
    }

    let instance = new Vue({
      // template:'<div><componentA>{{name}}</componentA></div>',
      render (h) {
        return h(componentA, {
          props: ''
        });
      },
      data:{
        name:"hello vue",
        model:['1','2','3'],
        select:'4'
      },
      methods:{
        changeHandler(){
          console.log(this.model);
        }
      }
    })
    let testInstance = instance.$mount();
    document.body.append(instance.$el)
    console.log(instance==testInstance,'是否同一个对象');
</script>
</body>
</html>