

//颜色
$primary-color:#00c8d7;
$info-color:#00c8d7;
$success-color:#00c;
$error-color:red;
$link-color:#ddd;
$link-hover-color:#fff;
$link-active-color:#ddf;
$white:#ffffff;

//按钮

//@btn-primary-color      : #fff;
//@btn-primary-bg         : @primary-color;
//@btn-disable-color      : #c5c8ce;
//@btn-disable-bg         : @background-color-base;
//@btn-disable-border     : @border-color-base;
//
//@btn-default-color      : @text-color;
//@btn-default-bg         : #fff;
//@btn-default-border     : @border-color-base;
$button-primary-color:#00c8d7;
$button-primary-background:#00c8d7;

$button-default-color:#dff;
$button-default-background:#eee;

$button-disabled-background:#f5f5f5;
$button-disabled-color:rgba(0,0,0,0.25);



//文字
$text-color:#666666;




